@page
@model IndexModel
@{
    ViewData["Title"] = "Object Page";
}
<form method="get" asp-page="Index">
    <br />
    <h1 style="padding-left:50px;">Objects</h1>
    <hr />

    @*<div class="row">
            <div class="col-sm-12">
                @* Partial View
                @Html.Partial("_ThumbnailObjectPartial", Model.IndexVM.Object.Where(u => u.Id.Equals(_object.Id)))
            </div>
        </div>*@

    <table id="table_id" class="display" style="background: rgba(255, 255, 255, 0.4)">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Country</th>
                <th>Town</th>
                <th>Region</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Objects)
            {
                <tr>
                    <td height="150px" width="200px"><img src="@Html.DisplayFor(m => item.Image)" width="100%" height="100%" /> </td>
                    <td style="font-size:x-large"><b>@Html.DisplayFor(m => item.object_name)</b></td>
                    <td>@Html.DisplayFor(m => item.country)</td>
                    <td>@Html.DisplayFor(m => item.town)</td>
                    <td>@Html.DisplayFor(m => item.region)</td>
                    <td><a asp-page="ObjectDetails" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Details</a></td>
                </tr>


            }
        </tbody>
    </table>
        </form>
