@page
@model IndexModel
@{
    ViewData["Title"] = "Event Page";
}
<form method="get" asp-page="Index">
    <br />
    <h1 style="padding-left:50px;">Events</h1>
    <hr />

    <table id="table_id" class="display" style="background: rgba(255, 255, 255, 0.4)">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Date</th>
                <th>Place</th>
                <th>Modify</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Events)
            {
            <tr>
                <td height="150px" width="200px"><img src="@Html.DisplayFor(m => item.Image)" width="100%" height="100%" /> </td>
                <td style="font-size:x-large"><b>@Html.DisplayFor(m => item.Name)</b></td>
                <td type="date" data-date="" data-data-format="DD MM YYYY">@Html.DisplayFor(m => item.Date)</td>
                <td>@Html.DisplayFor(m => item.Object.object_name)</td>
                <td><a asp-page="EventDetails" class="btn btn-primary btn-sm" asp-route-id="@item.id">Details</a></td>
            </tr>


            }
        </tbody>
    </table>
        </form>
