@page
@model IndexModel
@{
    ViewData["Title"] = "Organizer Page";
}
<form method="get" asp-page="Index">
    <br />
    <h1 style="padding-left:50px; color:#000000;">Organizer</h1>
    <hr />

    <table id="table_id" class="display" style="background: rgba(255, 255, 255, 0.4)">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Country</th>
                <th>Town</th>
                <th>Region</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Organizers)
            {
                <tr>
                    <td height="150px" width="200px"><img src="@Html.DisplayFor(m => item.Image)" width="100%" height="100%" /> </td>
                    <td style="font-size:x-large"><b>@Html.DisplayFor(m => item.Name)</b></td>
                    <td>@Html.DisplayFor(m => item.Country)</td>
                    <td>@Html.DisplayFor(m => item.Town)</td>
                    <td>@Html.DisplayFor(m => item.Region)</td>
                    <td><a asp-page="OrganizerDetails" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Details</a></td>
                </tr>


            }
        </tbody>
    </table>
</form>
